.web_container{
    width: 100vw;
    height: auto;
}

/* CONTACT FORM */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


input[type=text], select, textarea {
  width: 100%;
  font-family: "interstate";
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: rgba(255, 0, 255, 0.5);
  color:black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  color: darkmagenta;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.form_label {
    font-family: "brothers";
    color: black;
    font-size: 15;
}

/* TEXT */
h1 {
    color:black;
    font-family: "brothers";
    font-size: 5vh;
    line-height: 4vh;
}
h2 {
    color:black;
    font-family: "brothers";
    font-size: 4vh;
    line-height: 3vh;
}
h3 {
        color: black;
        font-family: "brothers";
        font-size: 3vh;
        line-height: 2vh;
}
em {
    font-family: "brothers";
    color:darkmagenta; 
}
p {
    color: black;
    font-family: "interstate";
    font-size: 20px;
    margin:0;
    padding-top: 10px;

}
a {
    font-family: "brothers";
    color: darkmagenta;
    text-decoration: none;
}
a:hover {
    color: fuchsia;
    text-decoration: underline;
}

/* NAVBAR & DROPDOWN */
/* Clean up if you have time */
.hide {
    display: none;
  }
  #navbar {
    display: flex;
    position: sticky;
    background-color: fuchsia;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    overflow: hidden;
    padding-left: 0;
    padding-bottom: 1.5vh;
    z-index: 9;
}
div.sticky {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
      }

.navbar_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    padding: 5px;
}
.navbar_icon_social {
    display: flex;
    flex-direction: column;
    width: 10vw;  
}
.navbar_icon {
    margin: 0;
    width: 12.5vw;
}
.navbar_icon img a{
    width: 11vw;
    height: auto;
}
.social_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0;
    padding-left: 50px;
    margin: 0;
}
.social_nav img{
    width: 50px;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 2px;
    background: fuchsia;
}
.navbar_links ul {
    flex-grow: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    font-family: "brothers";
    font-size: 3vh auto;
    padding:0;
  }
.navbar_links li{
    float: left;
    overflow: visible;
}
.navbar_links li a {
    display: flex;
    justify-content: space-between;
    max-width: 12.5vw;
    color: white;
    text-align: center;
    font-size: 3.5vh;
    padding: 1vw;
    text-decoration: none;
  }
  
.navbar_links li a:hover {
    color:indigo;
  }

  /* .navbar_links li {
    display: block;
    color: white;
    text-align: center;
    font-size: 3vh auto;
    padding: 1vw;
    text-decoration: none;
  } */

/* BANNER */
  .banner_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: auto;
}

.banner_container img {
    width: 75vw;
    height:auto;
}

.main_body {
    width: 66vw;
    padding-bottom: 20px;
    margin: auto;
}
.fighter_container {
    width: 75vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:baseline;
    justify-content: center;
    margin:auto;
    padding: 10px;
    margin:auto;
}

text {
    font-family: "puffin-arcade-chrome";
    position: relative;
    font-weight: 800;
    margin: auto;
    text-align: center;
    font-size: 90px;
    line-height: 70%;
    color: red;
    text-shadow: 3px 3px yellow;
}

.fight_copy1 {
    padding: 10px;
    width: 500px;
    border-radius: 25px;
    background: fuchsia;
    position: absolute;
    text-align: center;
    align-items: center;
    z-index: 5;
}

.fight_copy2 {
    padding: 10px;
    width: 500px;
    position: absolute;
    border-radius: 25px;
    background: fuchsia;
    margin-right: 5%;
    text-align: center;
    align-items: center;
    z-index: 9;
}

.fighter {
    max-height: 300px;
    padding: 30px;
    margin:auto;
    position: relative;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transition: .2s ease-in-out;
     transition: .2s ease-in-out;
        }

    .fighter:hover {
        -webkit-filter: blur(5px);
         filter: blur(5px);
         }
    
    .fighter:hover + .hide {
        display: block;
        }
        


.listing_reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 66vw;
    max-width: 960px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: auto;
}

.listing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 66vw;
    max-width: 960px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: auto;
}

.listing_image {
    float: left;
    max-width: 310px;
    max-height: 310px;
    padding-right: 10px;
    padding-top: 20px;
}

.zine_reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    text-align: right;
    width: 75vw;
    max-width: 960px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: auto;
}

.zine {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 75vw;
    max-width: 960px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: auto;
}

.zine_image {
    float: left;
    max-width: 50vw;
    max-height: 50vh;
    padding-right: 10px;
    padding-top: 20px;
}

.zine_copy {
    float: left;
    width: 60vw;
    max-width: 600px;
    padding-left: 15px;
}

.zine_copy h1, h2, h3, h4 {
    margin: 5px;
}

.zine_copy h3 {
    color:darkviolet;
}

.show {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 85vw;
    max-width: 960px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: auto;
}

.show_image {
    float: left;
    max-width: 85vw;
    max-height: 85vh;
    min-width: 20vw;
    min-height: 20vh;
    padding-right: 10px;
    padding-top: 20px;
}

.show_copy {
    float: left;
    width: 70vw;
    max-width: 600px;
    padding-left: 15px;
}

.show_copy h1, h2, h3, h4 {
    margin: 5px;
    padding: 1vh;
}


/* DROPDOWN MENU */
.dropbtn {
    color: white;
    padding: 0;
    border: none;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    margin: 0;
    padding: 0;
    float: left;
    font-family: "brothers";
    font-size: 3vh;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: relative;
    padding-top: 60px;
    min-width: 5vw;
    z-index: 1;
    overflow:hidden;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color:darkviolet;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    overflow:visible;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    color: darkviolet;
    overflow: visible;
  }


.quote {
    font-family: "brothers";
    color: black;
    font-size: 5vh;
    line-height: 4vh;
    padding: 5px;
}

.promoter {
    font-family: "interstate";
    color:darkmagenta;
    font-size: 3.5vh;
    line-height: 3vh;
    padding: 1vh;
}

#quotebox_left {
    line-height: 10%;
    text-align: left;
    padding-left: 0in;
    padding: 10px;
    }

#quotebox_right {
    line-height: 10%;
    text-align: right;
    padding-right: 0;
    padding: 10px;
    }

/* <-- adapative gallery --> */
.gallery_container {
  width: 70%;
  background-image: url("assets/logos/pattern_bg_tile.png");
  margin: auto;
}

.gallery_container ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding:0;
}

.gallery_container li {
  height: 25vh;
  flex-grow: 1;
}

.gallery_container li:last-child {
  /* // There's no science in using "10" here. In all my testing, this delivered the best results. */
  flex-grow: 10;
}

.gallery_container img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/* // ADVANCED */

/* // Portrait */

@media (max-aspect-ratio: 1/1) {
.gallery_container  li {
    height: 30vh;
  }
}

/* // Short screens */

@media (max-height: 480px) {
.gallery_container  li {
    height: 80vh;
  }
}

/* // Smaller screens in portrait */

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

.gallery_container  li {
    height: auto;
    width: 100%;
  }
.gallery_container  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

/* PRESS */
#press_container {
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
}

.quotes_cont {
    display: flex;
    min-width: 45vw;
    flex-direction: column;
    flex-grow: 4;
}

.quotes_cont h2 {
    text-align: center;
}

.bio_cont {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.epk_cont {
    max-width:22vw;  
    flex-direction: column;
    text-align: center;

}

.epk_cont img{
    max-width: 8vw;
    max-height: auto;

}

.epk_cont img:hover{
    border:rgba(46, 23, 46, 0.5) solid 3px;
    border-radius: 300px;
}

.support_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

/* BOUNCE ANIMATION IN SUPPORT */
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

.support_container a{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.support_container a:hover{
    border:3px solid darkmagenta;
    background: url("assets/logos/pattern_bg_tile.png");
    border-radius: 300px;
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

.support_icon {
    width:150px;
    padding: 20px;
}
